body {
    font-family: 'Caveat', cursive;
    font-size: 3em;
    background: #2a2a2a;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: .25em;
    color: #dede00;
}

header h2 {
    margin-top: 0;
    color: white;
}

ol {
    color: white;
    margin-left: 4rem;
}

li a {
    color: #f35;
    font-weight: 700;
    text-decoration: none;
}

li a:hover {
    color: #af0;
}