* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #008484;
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

.icon-menu a {
    color: white;
}


